code-gen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

code-gen textarea {
    width: 100%;
    white-space: nowrap;
    flex:1;
}

code-gen #name {
    width: 100%;
    grid-column: 1;
}

code-gen #btnGenerate {
    grid-column: 2;
}

code-gen .toolbar label {
    white-space: nowrap;
    margin: 0 0.5rem 0 0.5rem;
}

code-gen .toolbar button {
    margin: 0 0.5rem 0 0.5rem;
}