#view-body {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: flex;
    flex-direction: row;
}

#view-body aside {
    display: block;
    min-width: 300px;
    border-right: var(--s-te-bg) solid 1px;
    position: relative;
}

#view-body aside ul {
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    bottom: 0;
}