ul[role="menu"] {
    background: var(--s-pr-bg);
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li[role="menuitem"] {
    padding: 0.5rem;
    cursor: pointer;
    position: relative;
}

li[role="menuitem"].parent:after {
    content: attr(data-count);
    position: absolute;
    right: 0.5rem;
    top: 0.25rem;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0.5rem;
    line-height: 0.5rem;
    color: var(--cl-focus);
    border-left: var(--cl-back-c) solid 1px;
}

li[role="menuitem"]:hover {
    background: var(--cl-back-b);
    color: var(--cl-back-c);
}