@import "./normalize.css";
@import "./typo.css";
@import "./articles.css";
@import "./components/view-loader.css";
@import "./group.css";
@import "./input.css";
@import "./lib.css";

html {
    --s-pr-bg: white;
    --s-se-bg: #EBEBEB;
    --s-te-bg: #E5E5E5
}